@inherits HomeBallsLoggingComponent

<div class="@Class">
    <div class="w-full h-full table px-1">
        <div class="table-cell align-middle">
            @Content
        </div>
    </div>
</div>

@code
{
    RenderFragment? _content;
    String _class = "h-full";

    [Parameter, EditorRequired]
    public RenderFragment Content
    {
        get => _content ?? throw new NullReferenceException();
        init => _content = value;
    }

    [Parameter]
    public String Class
    {
        get => _class;
        init => _class = value +
            (String.IsNullOrWhiteSpace(value) ? String.Empty : ' ') +
            "h-full";
    }
}