@inherits HomeBallsLoggingComponent

<HomeBallsMenuBoxedContainer Class="col-span-4">
    <Content>
        <HomeBallsSettingsLabel>
            <Label>
                <span>Theme</span>
            </Label>
        </HomeBallsSettingsLabel>
    </Content>
</HomeBallsMenuBoxedContainer>