@inherits HomeBallsThemeSettingsComponentBase

<HomeBallsMenuBoxedContainer Class="col-span-4">
    <Content>
        <HomeBallsSettingsLabel>
            <Label>
                <div class=text-0>
                    <span class="text-sm font-semibold text-theme-black-400">Theme</span>
                </div>
            </Label>

            <Toggle>
                <div onclick="@OnDarkModeClicked" class="group cursor-pointer w-5 h-5 rounded-md p-0.5 hover:bg-theme-primary-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 -scale-x-100 text-theme-black-300 group-hover:text-theme-black-400 dark:text-theme-primary-500 dark:group-hover:text-theme-primary-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                    </svg>
                </div>
            </Toggle>
        </HomeBallsSettingsLabel>

        <HomeBallsMenuBoxedDivider />

        <HomeBallsThemeSettingsOptions />
    </Content>
</HomeBallsMenuBoxedContainer>

@code
{
    protected virtual void OnDarkModeClicked(MouseEventArgs e) =>
        Settings.IsDarkMode.Value = !Settings.IsDarkMode.Value;
}