@using CEo.Pokemon.HomeBalls.App.Components.Settings.Entries.BallIds
@inherits HomeBallsBallIdsSettingsComponentBase

<div class="col-span-10 table px-1">
    <div class="table-cell align-middle">
        <HomeBallsSettingsLabel>
            <Label>
                <div class="text-0">
                    <span class="text-sm font-semibold text-theme-black-400">Poké Balls shown</span>
                    <HomeBallsBallIdsSettingsLabelState />
                </div>
            </Label>

            <Toggle>
                <label class="cursor-pointer relative">
                    <div class="grid" style="grid-template-columns: 1fr;">
                        <HomeBallsBallIdsSettingsToggle />
                        <div class="row-start-1 col-start-1 w-9 h-[18px] rounded-full bg-theme-black-100 peer-hover:bg-theme-black-200"></div>
                        <div class="row-start-1 col-start-1 w-[14px] h-[14px] m-0.5 rounded-full bg-theme-white-500 transition peer-checked:translate-x-[17.5px] peer-checked:bg-theme-primary-500"></div>
                    </div>
                </label>
            </Toggle>
        </HomeBallsSettingsLabel>

        <HomeBallsAppSettingsRetractingContent
            CreateComponentId="@(id => $"settings-balls-{id}")"
            IsRetracted="@Settings.IsUsingDefault">
            <Content>
                <HomeBallsBallIdsSettingsOptions />
            </Content>
        </HomeBallsAppSettingsRetractingContent>
    </div>
</div>