@inherits HomeBallsLayoutComponentBase

<div class="flex-grow-0 border-theme-primary-500 lg:flex-grow lg:min-w-[50vw] lg:flex lg:flex-col lg:border-r">
    <HomeBallsAppCategoryLayout />
</div>

<div class="flex-grow flex flex-col lg:min-w-[50vw]">
    <HomeBallsAppBodyLayout Body="@(Body!)" />
</div>
