@inherits HomeBallsLayoutComponentBase

<div class="flex-grow">
    @* @Body *@

    <div class="h-screen">
        Body
    </div>
</div>

<div class="sticky left-0 flex-grow-0 border-t lg:hidden border-theme-secondary">
    <HomeBallsFooter />
</div>