@inherits HomeBallsLayoutComponentBase

<div class="flex flex-col flex-grow-0 overflow-hidden border-theme-primary lg:border-r lg:w-1/2">
    <HomeBallsAppCategoryLayout />
</div>

<div class="flex flex-col flex-grow overflow-auto">
    <HomeBallsAppBodyLayout Body="@(Body!)" />
</div>