@inherits HomeBallsLayoutComponentBase

<div class="flex-grow overflow-auto">
    @Body
</div>

<footer class="flex-grow-0 border-t lg:hidden border-theme-secondary-500">
    <HomeBallsFooter />
</footer>