@inject IHomeBallsAppNavigation Navigation
@inject IHomeBallsAppEdit Edit
@inject IHomeBallsAppSettings Settings

<div class="lg:flex-grow-0">
    <div class="overflow-x-auto whitespace-nowrap">
        <HomeBallsAppCategoryTabCollection />
    </div>
</div>

<div class="lg:flex-grow">
    <div class="overflow-auto">
        <div class="min-w-full w-max">

            <HomeBallsMainLoading />

            <HomeBallsAppCategoryBody Category="@Navigation">
                <Body>
                    <span>Navigation content.</span>
                </Body>
            </HomeBallsAppCategoryBody>

            <HomeBallsAppCategoryBody Category="@Edit">
                <Body>
                    <span>Edit content.</span>
                </Body>
            </HomeBallsAppCategoryBody>

            <HomeBallsAppCategoryBody Category="@Settings">
                <Body>
                    <CEo.Pokemon.HomeBalls.App.Components.Categories.HomeBallsAppSettings />
                </Body>
            </HomeBallsAppCategoryBody>

        </div>
    </div>
</div>

<footer class="hidden border-t lg:flex-grow-0 lg:block border-theme-secondary-500">
    <HomeBallsFooter />
</footer>