@inherits LayoutComponentBase

@Body

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="px-4 top-row">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <article class="px-4 content">
            @Body
        </article>
    </main>
</div> *@
