@inherits HomeBallsRowIdentifierSettingsComponentBase

@if (Settings.IsUsingDefault.Value)
{
    <span class="text-sm">: default</span>
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Settings.IsUsingDefault.ValueChanged += RerenderOnUsingDefaultChanged;
    }
}