@inherits HomeBallsLoggingComponent

<div class="px-[13px] py-1.5 divide-y-8 divide-transparent">
    <HomeBallsAppAboutSection>
        <Header>What's this?</Header>
        <Content>
            HomeBalls is an app that aims to assist Pokémon players in organizing their collections. This project was made to help users from trading communities like <HomeBallsAppAboutAnchor Hyperlink="https://www.reddit.com/r/BankBallExchange/"><Content>r/BankBallExchange</Content></HomeBallsAppAboutAnchor> and <HomeBallsAppAboutAnchor Hyperlink="https://www.reddit.com/r/pokemontrades/"><Content>r/pokemontrades</Content></HomeBallsAppAboutAnchor> show what they have to offer in a more uniform, yet customizable layout.
        </Content>
    </HomeBallsAppAboutSection>

    <HomeBallsAppAboutSection>
        <Header>Current State</Header>
        <Content>
            Since the editting feature is still being worked on, you can only see my collection here. Once this is done, users will be able to edit, import and export their collections so they can share it with others.
        </Content>
    </HomeBallsAppAboutSection>

    <HomeBallsAppAboutSection>
        <Header>Wanna trade?</Header>
        <Content>
            The trade feature is also unavailable. If you see something you want to trade for, you can <HomeBallsAppAboutAnchor Hyperlink="https://www.reddit.com/message/compose?to=blah12629"><Content>message me on Reddit</Content></HomeBallsAppAboutAnchor>, or you can <HomeBallsAppAboutAnchor Hyperlink="https://github.com/blah12629/HomeBalls/discussions"><Content>start a discussion over here</Content></HomeBallsAppAboutAnchor>.
        </Content>
    </HomeBallsAppAboutSection>
</div>