@inherits HomeBallsComponentBase
@inject IHomeBallsStateContainer State
@inject ILocalStorageService LocalStorage

@if (IsActive)
{
    <span @onclick="@OnCategoryClicked" class="inline-block px-1 py-0.5 lg:py-1 mx-0.5 lg:mx-1 -mb-px border-b-2 border-transparent cursor-pointer border-theme-accent text-theme-accent">
        @Category.Names.Single(name => name.LanguageId == EnglishLanguageId).Value
    </span>
}
else
{
    <span @onclick="@OnCategoryClicked" class="inline-block px-1 py-0.5 lg:py-1 mx-0.5 lg:mx-1 -mb-px border-b-2 border-transparent cursor-pointer hover:border-theme-primary hover:text-theme-primary focus:border-theme-accent focus:text-theme-accent active:border-theme-accent active:text-theme-accent">
        @Category.Names.Single(name => name.LanguageId == EnglishLanguageId).Value
    </span>
}

@code {
    IHomeBallsAppCateogry? _category;

    [Parameter, EditorRequired]
    public IHomeBallsAppCateogry Category { get => _category!; init => _category = value; }

    protected Boolean IsActive { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        State.ActiveCategoryId.PropertyChanged += OnActiveCategoryIdChanged;
        await State.EnsurePresetsLoaded();
    }

    protected virtual void OnActiveCategoryIdChanged(
        Object? sender,
        HomeBallsPropertyChangedEventArgs e)
    {
        if (isCategory(e.OldValue) || isCategory(e.NewValue))
        {
            IsActive = isCategory(e.NewValue);
            StateHasChanged();
        }

        Boolean isCategory(Object? value) => value as String == Category.Identifier;
    }

    protected virtual async Task OnCategoryClicked(MouseEventArgs e)
    {
        var id = State.ActiveCategoryId.Identifier;
        var newValue = IsActive ? default(String) : Category.Identifier;

        if (newValue == default) await LocalStorage.RemoveItemAsync(id);
        else await LocalStorage.SetItemAsStringAsync(id, newValue);
        State.ActiveCategoryId.Value = newValue;
    }
}