@inherits HomeBallsComponentBase

@foreach (var name in TabNames)
{
    <span class="inline-block px-1 py-0.5 lg:py-1 mx-0.5 lg:mx-1 -mb-px border-b-2 border-transparent cursor-pointer hover:border-theme-primary hover:text-theme-primary focus:border-theme-accent focus:text-theme-accent active:border-theme-accent active:text-theme-accent">
        @name
    </span>
}

@code {
    protected IReadOnlyList<String> TabNames { get; } = new List<String>
    {
        "Navigation",
        "Settings",
        "Import",
        "Export",
    }.AsReadOnly();
}