@inject IHomeBallsDataSource DataSource
@inject IHomeBallsBreedablesSpriteService SpriteService

@if (IsBallShown)
{
    <td class="w-8 min-w-[32px] bg-theme-secondary bg-opacity-30 border-b border-theme-secondary">
        <BallSprite Ball="@Ball" />
    </td>

    @* <td class="sticky top-0 w-8 bg-white border-b border-opacity-50 border-dream-purple">
        <BallSprite Ball="@Ball" />
    </td> *@
}

@code {
    [Parameter, EditorRequired]
    public UInt16 BallId { get; init; }

    IHomeBallsItem Ball => DataSource.Items[BallId];

    Boolean IsBallShown => Ball.CategoryId == 39 || Ball.Id == 5 || Ball.Id > 456;

    String SpriteUrl => SpriteService.GetSpriteUri(Ball).ToString();
}