@inherits HomeBallsComponentBase
@inject IHomeBallsEntryTableFactory TableFactory

@if (Table == default)
{
    <Loading Size="@LoadingImageSize.GlobalLinkSmall">
        <Message>
            <span>Loading...</span>
        </Message>
    </Loading>
}

else
{
    <table>
        <thead>
            <EntryHeader BallIds="@BallIds" />
        </thead>

        <tbody>
            @foreach (var column in Table.Columns)
            {
                <EntryColumn Column="@column" />
            }
        </tbody>
    </table>
}

@code {
    IHomeBallsEntryTable? Table { get; set; }

    IReadOnlyList<UInt16>? BallIds => Table?.Columns
        .FirstOrDefault()?
        .Select(cell => cell.BallId)?
        .ToList().AsReadOnly();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await SetTableAsync();
    }

    protected async Task SetTableAsync()
    {
        await Task.Delay(200);
        Table = await Task.Run<IHomeBallsEntryTable>(() =>
            TableFactory.CreateTableAsync(new HomeBallsEntryCollection()));
    }
}