@inject IHomeBallsDataSource DataSource
@inject ISpriteService SpriteService

<tr>
    <td><img src="@SpriteUrl" /></td>
    <td><span>@SpeciesName</span></td>

    @foreach (var cell in Column)
    {
        <EntryColumnCell Cell="@cell" />
    }
</tr>

@code {
    IHomeBallsEntryColumn? _column;

    [Parameter, EditorRequired]
    public IHomeBallsEntryColumn Column { get => _column!; init => _column = value; }

    String SpriteUrl => SpriteService
        .GetSerebiiSpriteUri(DataSource.PokemonForms[(Column.SpeciesId, Column.FormId)])
        .ToString();

    String SpeciesName => DataSource
        .PokemonSpecies[Column.SpeciesId].Names
        .Single(name => name.LanguageId == 9).Value;
}