@using static HomeBallsEntryObtainedStatus
@using static HomeBallsEntryLegalityStatus
@inject IHomeBallsDataSource DataSource

@if (IsBallShown)
{
    @* @if (Cell.ObtainedStatus == NotObtained)
    {
        <td class="cursor-pointer hover:bg-dream hover:bg-opacity-50" />
    }
    @if (Cell.ObtainedStatus == ObtainedWithoutHiddenAbility)
    {
        <td class="cursor-pointer hover:bg-dream hover:bg-opacity-50">
            <BallSprite Ball="@Ball" />
        </td>
    }
    else if (Cell.ObtainedStatus == ObtainedWithHiddenAbility)
    {
        <td class="cursor-pointer hover:bg-dream hover:bg-opacity-50">
            <BallSprite Ball="@Ball" />
        </td>
    } *@

    @if (Cell.LegalityStatus == NotObtainable)
    {
        <td class="bg-opacity-50 cursor-pointer bg-dream-purple" />
    }

    else if (Cell.LegalityStatus == ObtainableWithoutHiddenAbility)
    {
        <td class="bg-opacity-50 cursor-pointer bg-dream-pink">
            @if (Cell.ObtainedStatus == ObtainedWithoutHiddenAbility ||
                Cell.ObtainedStatus == ObtainedWithHiddenAbility)
            {
                <BallSprite Ball="@Ball" />
            }
        </td>
    }

    else if (Cell.LegalityStatus == ObtainableWithHiddenAbility)
    {
        <td class="cursor-pointer hover:bg-dream hover:bg-opacity-50">
            @if (Cell.ObtainedStatus == ObtainedWithoutHiddenAbility ||
                Cell.ObtainedStatus == ObtainedWithHiddenAbility)
            {
                <BallSprite Ball="@Ball" />
            }
        </td>
    }
}

@code {
    IHomeBallsEntryCell? _cell;

    [Parameter, EditorRequired]
    public IHomeBallsEntryCell Cell { get => _cell!; init => _cell = value; }

    IHomeBallsItem Ball => DataSource.Items[Cell.BallId];

    Boolean IsBallShown => Ball.CategoryId == 39 || Ball.Id == 5 || Ball.Id > 456;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Cell.PropertyChanged += OnCellPropertyChanged;
    }

    protected virtual void OnCellPropertyChanged(
        Object? sender,
        HomeBallsPropertyChangedEventArgs e)
    {
        if (Cell.LegalityStatus != NotObtainable) StateHasChanged();
    }
}