@inherits HomeBallsComponentBase
@inject IHomeBallsEntryTableFactory TableFactory

@if (Table == default)
{
    <Loading>
        <Message>
            <span>Loading a table...</span>
        </Message>
    </Loading>
}

else @foreach (var column in Table.Columns)
{
    <EntryColumn Column="@column" />
}

@code {
    IHomeBallsEntryTable? _table;
    IHomeBallsEntryTable? Table
    {
        get => _table;
        set { _table = value; StateHasChanged(); }
    }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"Initialized `{GetType().Name}`.");
        await SetTableAsync();
    }

    protected override async Task OnAfterRenderAsync(Boolean firstRender)
    {
        Console.WriteLine($"Rendered `{GetType().Name}`");
        @* if (firstRender) await SetTableAsync(); *@
    }

    protected async Task SetTableAsync()
    {
        Console.WriteLine("Creating table.");
        Table = await TableFactory.CreateTableAsync(new HomeBallsEntryCollection());
        Console.WriteLine("Table created.");
    }
}