@inherits HomeBallsNamingToggle

@{ base.BuildRenderTree(__builder); }

@code
{
    protected override RenderFragment Content => @<div class="grayscale opacity-60 group-hover:opacity-100 group-active:opacity-100">@SpriteFragment</div>;

    protected override RenderFragment SelectedContent => SpriteFragment;

    protected virtual RenderFragment SpriteFragment => @<img class="object-none w-6 h-6 scale-[.8]" src="https://www.serebii.net/pokedex-swsh/icon/774-r.png"/>;

    protected override IMutableNotifyingProperty<Boolean> IsToggled => Settings.EntryTable.ColumnIdentifier.IsShowingSprite;
}