@* @inherits HomeBallsLoggingComponent
@inject IHomeBallsAppSettings Settings

<HomeBallsSettingsBoxedModule Class="col-span-6">
    <Header>
        <HomeBallsSettingsHeader>
            <Label>
                <span class="align-sub">Naming</span>
            </Label>
            <Toggle>
                <HomeBallsSettingsCheckbox IsToggled="@Settings.Entries.ColumnIdentifier.IsUsingDefault" />
            </Toggle>
        </HomeBallsSettingsHeader>
    </Header>

    <Body>
        <div class="flex flex-row divide-x-2 divide-transparent">
            <div class="flex-grow-0"><HomeBallsNamingNumberToggle /></div>
            <div class="flex-grow-0"><HomeBallsNamingSpriteToggle /></div>
            <div class="flex-grow"><HomeBallsNamingNameToggle /></div>
        </div>
    </Body>
</HomeBallsSettingsBoxedModule> *@