@* @inherits HomeBallsLoggingComponent

<HomeBallsSettingsBoxedModule Class="col-span-4">
    <Header>
        <HomeBallsSettingsHeader>
            <Label><span class="align-sub">Theme</span></Label>
            <Toggle><HomeBallsThemeDarkModeToggle /></Toggle>
        </HomeBallsSettingsHeader>
    </Header>

    <Body>
        <div class="-mx-0.5">
            @for (var i = 0; i < ThemeIds.Count; i ++)
            {
                <HomeBallsThemeToggle ThemeId="@ThemeIds[i]" />
            }
        </div>
    </Body>
</HomeBallsSettingsBoxedModule> *@