@* @inherits HomeBallsNamingTextToggle

@{ base.BuildRenderTree(__builder); }

@code
{
    protected override RenderFragment TextContent => @<div><span class="font-semibold">Minior&nbsp;</span><span>red</span></div>;

    protected override IMutableNotifyingProperty<Boolean> IsToggled =>
        Settings.Entries.ColumnIdentifier.IsShowingName;
} *@