@inherits HomeBallsLoggingComponent

<div class="grid grid-cols-10 gap-2 px-2 pt-1.5 pb-3 lg:gap-4 lg:px-4 lg:py-2">
    <HomeBallsBallSettings />
    <HomeBallsThemeSettings />
    <HomeBallsNamingSettings />
</div>