@using CEo.Pokemon.HomeBalls.App.Components.Settings.Entries
@using CEo.Pokemon.HomeBalls.App.Components.Settings.Theme
@inherits HomeBallsLoggingComponent

<div class="grid grid-cols-10 gap-x-2.5 gap-y-1.5 px-2 py-1.5 lg:gap-4 lg:px-4 lg:py-2">
    <HomeBallsBallIdsSettings />
    <HomeBallsThemeSettings />
    <HomeBallsRowIdentifierSettings />
    <HomeBallsIllegalEntriesSettings />
</div>