@inherits HomeBallsSettingsToggleBase

<div class="w-6 h-6 overflow-hidden lg:w-7 lg:h-7">
    <button onclick="@OnDarkModeClicked" class="group overflow-hidden rounded-md bg-theme-white-500 hover:bg-theme-primary-100 active:bg-theme-primary-100">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 p-[3.5px] -scale-x-100 text-theme-black-200 group-hover:text-theme-black-400 group-active:text-theme-black-400 dark:text-theme-primary-500 dark:group-hover:text-theme-primary-500 dark:group-active:text-theme-primary-500 lg:w-7 lg:h-7" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
        </svg>
    </button>
</div>

@code
{
    protected virtual void OnDarkModeClicked(MouseEventArgs e) =>
        Settings.Theme.IsDarkMode.Value = !Settings.Theme.IsDarkMode.Value;
}