@inherits HomeBallsNamingToggle

@{ base.BuildRenderTree(__builder); }

@code
{
    protected override RenderFragment Content =>
        @<div class="table-cell align-middle h-6 px-1.5">
            <div class="text-theme-black-200 group-hover:text-theme-black-400 group-active:text-theme-black-400">
                @TextContent
            </div>
        </div>;

    protected override RenderFragment SelectedContent =>
        @<div class="table-cell align-middle h-6 px-1.5">
            <div class="text-theme-primary-500">
                @TextContent
            </div>
        </div>;

    protected virtual RenderFragment TextContent => throw new NotImplementedException();
}