@inherits HomeBallsLoggingComponent
@inject IHomeBallsLoadableDataSource Data
@inject IHomeBallsBreedablesFormIdentifierService IdentifierService

@if (Species == default)
{
    <span class="text-xs">@Form.Identifier</span>
}

else
{
    <span class="text-xs font-semibold">@SpeciesName</span>

    @if (FormIdentifier != String.Empty)
    {
        <span class="text-xs">&nbsp; @FormIdentifier</span>
    }
}

@code {
    IHomeBallsPokemonForm? _form;
    String? _speciesName, _formIdentifier;

    [Parameter, EditorRequired]
    public IHomeBallsPokemonForm Form { get => _form!; init => _form = value; }

    protected virtual IHomeBallsPokemonSpecies? Species { get; set; }

    protected virtual String? SpeciesName => _speciesName ??=
        Species?.Names.Single(name => name.LanguageId == EnglishLanguageId).Value;

    protected virtual String? FormIdentifier => _formIdentifier ??=
        IdentifierService.GetIdentifier(Form);

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Data.PokemonSpecies.DataLoaded += OnSpeciesLoaded;
        Data.BreedablePokemonSpecies.DataLoaded += OnSpeciesLoaded;
    }

    protected virtual void OnSpeciesLoaded(
        Object? sender,
        TimedActionEndedEventArgs e)
    {
        var data = Data.PokemonSpecies.IsLoaded ? Data.PokemonSpecies :
            Data.BreedablePokemonSpecies.IsLoaded ? Data.BreedablePokemonSpecies :
            default;

        if (data == default) return;
        Species = data.ContainsKey(Form.Id.SpeciesId) ? data[Form.Id.SpeciesId] : default;
        StateHasChanged();
    }
}