@inherits HomeBallsLoggingComponent
@inject IHomeBallsDataSource Data
@inject IHomeBallsAppSettings Settings

@if (IsBallShown)
{
    <td class="sticky top-0 w-8 min-w-[32px] bg-theme-secondary-200 dark:bg-theme-secondary-800 border-b border-theme-secondary">
        <HomeBallsBallSprite Ball="@Ball" />
    </td>
}

@code {
    IHomeBallsItem? _ball;

    [Parameter, EditorRequired]
    public UInt16 BallId { get; init; }

    protected virtual IHomeBallsItem Ball => _ball ??= Data.Pokeballs[BallId];

    protected virtual Boolean IsBallShown => Settings.EntryTable.BallIdsShown.Contains(Ball.Id);

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Settings.EntryTable.BallIdsShown.CollectionChanged += OnBallIdsShownChanged;
    }

    protected virtual void OnBallIdsShownChanged(
        Object? sender,
        NotifyCollectionChangedEventArgs e)
    {
        if (e.Action == NotifyCollectionChangedAction.Add ||
            e.Action == NotifyCollectionChangedAction.Remove ||
            e.Action == NotifyCollectionChangedAction.Reset)
            StateHasChanged();

        else throw new NotSupportedException();
    }
}