@inherits HomeBallsLoggingComponent

<table class="min-w-full border-separate table-fixed border-spacing-0">
    <thead>
        <HomeBallsEntryHeader />
    </thead>

    <tbody>
        <HomeBallsEntryColumn Index="@(0)" />
    </tbody>
</table>