@inherits HomeBallsLoggingComponent
@inject IHomeBallsAppStateContainer State

@if (State.LoadingMessage != default)
{
    <span>@State.LoadingMessage.Value</span>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        State.LoadingMessage.ValueChanged += OnLoadingMessageChanged;
    }

    protected virtual void OnLoadingMessageChanged(
        Object? sender,
        PropertyChangedEventArgs<String?> e) =>
        StateHasChanged();
}