@inherits HomeBallsLoggingComponent
@inject IHomeBallsAppSettings Settings

<div>
    <span>Theme:</span>

    <div class="flex flex-row w-min">
        <div class="whitespace-nowrap flex-grow rounded-lg h-full pt-[5px] pb-[1px] px-3 align-bottom inline-block mr-2 box-border border border-theme-black-200">
            @foreach (var value in ThemeValues)
            {
                <HomeBallsAppThemeSelection Value="@value" />
            }
        </div>

        <div @onclick="@OnDarkModeClickedAsync" class="cursor-pointer flex-grow-0 rounded-lg h-full align-middle inline-block p-[5.75px] box-border border border-theme-black-200">
            <HomeBallsHeroicon Class="w-6 h-6 stroke-theme-primary-500" Paths="@(new[] { "M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" })" />
        </div>
    </div>
</div>

@code {
    protected IReadOnlyCollection<String> ThemeValues { get; } =
        new List<String> { DreamThemeId, MoonThemeId, LureThemeId }
            .AsReadOnly();

    protected virtual Task OnDarkModeClickedAsync(MouseEventArgs e)
    {
        Settings.IsDarkMode.Value = !Settings.IsDarkMode.Value;
        return Task.CompletedTask;
    }
}