@inherits HomeBallsAppCategoryComponentBase

@if (IsActive)
{
    <div class="w-full h-full border-b lg:border-b-0 border-theme-primary-500">
        <div class="px-[14px] py-1">
            @Body
        </div>

        <div @onclick="@OnHideBodyClickedAsync" class="cursor-pointer hover:bg-theme-primary-200 dark:hover:bg-theme-primary-800 pt-[3px] pb-0.5 border-t border-theme-primary-500 lg:hidden">
            <HomeBallsHeroicon Class="w-4 h-4 mx-auto" Paths="@(new[] { "M5 11l7-7 7 7M5 19l7-7 7 7" })" />
        </div>
    </div>
}

@code {
    RenderFragment? _body;

    [Parameter, EditorRequired]
    public RenderFragment Body { get => _body!; init => _body = value; }

    protected virtual Task OnHideBodyClickedAsync(MouseEventArgs e)
    {
        State.ActiveCategoryId.Value = default;
        return Task.CompletedTask;
    }
}