@inherits HomeBallsAppCategoryComponentBase

@if (IsActive)
{
    <span @onclick="@OnCategoryClickedAsync" class="mx-0.5 lg:mx-1 px-1 cursor-pointer inline-block pt-0.5 border-b-2 border-theme-primary-500 text-theme-primary-500">
        @Category.Names.Single(name => name.LanguageId == EnglishLanguageId).Value
    </span>
}
else
{
    <span @onclick="@OnCategoryClickedAsync" class="mx-0.5 lg:mx-1 px-1 cursor-pointer inline-block pt-0.5 border-b-2 border-transparent text-theme-black-400 dark:text-theme-white-600 hover:text-theme-black-500 dark:hover:text-theme-white-500 active:text-theme-primary-500 focus:text-theme-primary-500">
        @Category.Names.Single(name => name.LanguageId == EnglishLanguageId).Value
    </span>
}

@code {
    protected virtual Task OnCategoryClickedAsync(MouseEventArgs e)
    {
        State.ActiveCategoryId.Value = IsActive ? default : Category.Identifier;
        return Task.CompletedTask;
    }
}