@inherits HomeBallsLoggingComponent
@inject IHomeBallsAppSettings Settings
@inject IHomeBallsBreedablesSpriteService Sprites

@if (IsSelected)
{
    <div @onclick="OnThemeClickedAsync" class="inline-block cursor-pointer">
        <HomeBallsBallSprite BallName="@Value" />
    </div>
}
else
{
    <div @onclick="OnThemeClickedAsync" class="inline-block cursor-pointer grayscale">
        <HomeBallsBallSprite BallName="@Value" />
    </div>
}

@code {
    String? _value;

    [Parameter, EditorRequired]
    public String Value { get => _value!; init => _value = value; }

    public Boolean IsSelected => Settings.ThemeId.Value == Value;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Settings.ThemeId.ValueChanged += OnThemeChanged;
    }

    protected virtual void OnThemeChanged(
        Object? sender,
        PropertyChangedEventArgs<String> e)
    {
        if (e.OldValue == Value || e.NewValue == Value) StateHasChanged();
    }

    protected virtual Task OnThemeClickedAsync(MouseEventArgs e)
    {
        Settings.ThemeId.Value = Value;
        return Task.CompletedTask;
    }
}