@inherits LayoutComponentBase

<div class="flex flex-col flex-grow-0 overflow-scroll border-b border-theme-primary lg:border-b-0 lg:border-r lg:w-1/2">
    <div class="flex-grow">
        Navigation / Settings
    </div>

    <footer class="hidden border-t lg:block border-theme-secondary">
        <Footer />
    </footer>
</div>

<div class="flex flex-col flex-grow overflow-y-scroll">
    <div class="flex-grow overflow-x-scroll">
        @Body
    </div>

    <footer class="sticky left-0 flex-grow-0 border-t lg:hidden border-theme-secondary">
        <Footer />
    </footer>
</div>