<div class="block text-center">
    @ChildContent
</div>

@code {
    RenderFragment? _child;

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get => _child!; init => _child = value; }
}