@inherits HomeBallsComponentBase

<div class="w-full text-center">
    <div class="flex justify-center w-full">
        @if (Size == LoadingImageSize.GlobalLinkSmall)
        {
            <img src="@ImageUrl" class="w-10 animate-spin-partial" />
        }
        else
        {
            <img src="@ImageUrl" class="animate-spin-partial" />
        }
    </div>

    @Message
</div>

@code {
    public String ImageUrl => (Byte)Size < 40 ?
        "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/dream-ball.png" :
        "dream_ball.global_link.png";

    [Parameter]
    public LoadingImageSize Size { get; init; } = LoadingImageSize.GlobalLink;

    [Parameter]
    public RenderFragment? Message { get; init; }
}