@inherits HomeBallsComponentBase
@inject IJSRuntime JSRuntime

<div class="w-full mt-3 text-center lg:text-xl">
    <div class="flex justify-center w-full">
        <img src="@IconUrl" class="w-10 h-10 lg:w-15 lg:h-15 animate-spin-partial" id="app-icon-loading" />
    </div>

    @Message
</div>

@code {
    [Parameter]
    public RenderFragment? Message { get; init; }

    String? IconUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        IconUrl = await JSRuntime.InvokeAsync<String>("getIconUrl");
    }
}