@inherits HomeBallsComponentBase

<div class="w-full mt-3 text-center lg:text-xl">
    <div class="flex justify-center w-full">
        <img src="https://www.serebii.net/itemdex/sprites/pgl/dreamball.png"
            id="app-loading-icon"
            class="w-10 h-10 lg:w-15 lg:h-15 animate-spin-partial"/>
    </div>

    @Message
</div>

@code {
    [Parameter]
    public RenderFragment? Message { get; init; }
}