<span class="inline-block">
    <img src="@Source" class="object-contain w-4/5" />
</span>

@code {
    String? _source;

    [Parameter, EditorRequired]
    public String Source { get => _source!; init => _source = value; }
}