@inherits HomeBallsComponentBase
@inject IHomeBallsLoadableDataSource Data
@inject IHomeBallsBreedablesFormIdentifierService IdentifierService

@if (Species == default)
{
    <span class="text-xs">@Form.Identifier</span>
}

else
{
    <span class="text-xs font-semibold">@SpeciesName</span>

    @if (FormIdentifier != String.Empty)
    {
        <span class="text-xs">&nbsp; @FormIdentifier</span>
    }
}

@code {
    IHomeBallsPokemonForm? _form;
    String? _speciesName, _formIdentifier;

    [Parameter, EditorRequired]
    public IHomeBallsPokemonForm Form { get => _form!; init => _form = value; }

    protected virtual IHomeBallsPokemonSpecies? Species { get; set; }

    protected virtual String? SpeciesName => _speciesName ??=
        Species?.Names.Single(name => name.LanguageId == 9).Value;

    protected virtual String? FormIdentifier => _formIdentifier ??=
        IdentifierService.GetIdentifier(Form);

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Data.PokemonSpecies.DataLoaded += OnSpeciesLoaded;
    }

    protected virtual void OnSpeciesLoaded(
        Object? sender,
        TimedActionEndedEventArgs e)
    {
        Species = Data.PokemonSpecies.TryGetValue(Form.Id.SpeciesId, out var value) ?
            value :
            default;

        StateHasChanged();
    }
}