@inherits HomeBallsComponentBase

<table class="min-w-full border-separate table-fixed border-spacing-0">
    <thead>
        <EntryHeader />
    </thead>

    <tbody>
        <EntryColumn Index="@(0)" />
    </tbody>
</table>