@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-r:   255; --color-primary-g:    99; --color-primary-b:   165;
    --color-secondary-r: 132; --color-secondary-g:  99; --color-secondary-b: 197;
    --color-accent-r:    255; --color-accent-g:    181; --color-accent-b:    214;
    --color-black-r:      49; --color-black-g:      49; --color-black-b:      49;
    --color-white-r:     255; --color-white-g:     255; --color-white-b:     255;
  }

  .theme-dream {
    --color-primary-r:   255; --color-primary-g:    99; --color-primary-b:   165;
    --color-secondary-r: 132; --color-secondary-g:  99; --color-secondary-b: 197;
    --color-accent-r:    255; --color-accent-g:    181; --color-accent-b:    214;
    --color-black-r:      49; --color-black-g:      49; --color-black-b:      49;
    --color-white-r:     255; --color-white-g:     255; --color-white-b:     255;
  }

  .theme-moon {
    --color-primary-r:    74; --color-primary-g:   197; --color-primary-b:   239;
    --color-secondary-r: 123; --color-secondary-g: 140; --color-secondary-b: 156;
    --color-accent-r:    247; --color-accent-g:    206; --color-accent-b:     66;
    --color-black-r:      49; --color-black-g:      49; --color-black-b:      49;
    --color-white-r:     255; --color-white-g:     255; --color-white-b:     255;
  }

  .theme-lure {
    --color-primary-r:    74; --color-primary-g:   181; --color-primary-b:   222;
    --color-secondary-r: 222; --color-secondary-g:  90; --color-secondary-b: 107;
    --color-accent-r:    255; --color-accent-g:    197; --color-accent-b:     82;
    --color-black-r:      49; --color-black-g:      49; --color-black-b:      49;
    --color-white-r:     255; --color-white-g:     255; --color-white-b:     255;
  }
}

@layer utilities {
  .border-spacing-0 {
    border-spacing: 0;
  }

  .shadow-entry-td {
    box-shadow: 2px 0px 4px rgba(0,0,0,0.05);
    clip-path: inset(0px -15px 0px 0px);
  }
}