@inherits LayoutComponentBase
@inject IHomeBallsAppNavigation Navigation
@inject IHomeBallsAppSettings Settings

<div class="flex flex-col flex-grow-0 overflow-hidden border-theme-primary lg:border-r lg:w-1/2">
    <div class="flex-grow-0 overflow-x-auto overflow-y-hidden whitespace-nowrap">
        <HomeBallsAppCategoryTabCollection />
    </div>

    <div class="flex-grow-1">
        <HomeBallsMainLoading />

        <HomeBallsAppCategoryBody Category="@Navigation">
            <Body>
                <span>Navigation content.</span>
            </Body>
        </HomeBallsAppCategoryBody>

        <HomeBallsAppCategoryBody Category="@Settings">
            <Body>
                <span>Settings content.</span>
            </Body>
        </HomeBallsAppCategoryBody>
    </div>

    <footer class="flex-grow-0 hidden border-t lg:block border-theme-secondary">
        <HomeBallsFooter />
    </footer>
</div>

<div class="flex flex-col flex-grow overflow-auto">
    <div class="flex-grow">
        @Body
    </div>

    <footer class="sticky left-0 flex-grow-0 border-t lg:hidden border-theme-secondary">
        <HomeBallsFooter />
    </footer>
</div>