@inject IHomeBallsBreedablesSpriteService SpriteService

<div class="w-6 h-6 mx-auto overflow-hidden">
    <img src="@SpriteUrl" class="object-contain" />
</div>

@code {
    IHomeBallsItem? _ball;
    String? _spriteUrl;

    [Parameter, EditorRequired]
    public IHomeBallsItem Ball { get => _ball!; init => _ball = value; }

    protected virtual String SpriteUrl => _spriteUrl ??=
        SpriteService.GetSpriteUri(Ball).ToString();
}