@inject IHomeBallsBreedablesSpriteService SpriteService

<div class="w-6 h-6 mx-auto overflow-hidden">
    <img src="@SpriteUrl" class="object-contain" />
</div>

@code {
    IHomeBallsItem? _ball;
    String? _ballName, _spriteUrl;

    [Parameter]
    public IHomeBallsItem? Ball
    {
        get => _ball;
        init
        {
            _ball = value;
            SpriteUrl = SpriteService.GetBallSpriteUri(Ball!).ToString();
        }
    }

    [Parameter]
    public String? BallName
    {
        get => _ballName;
        init
        {
            _ballName = value;
            SpriteUrl = SpriteService.GetBallSpriteUri(BallName!).ToString();
        }
    }

    protected String SpriteUrl { get => _spriteUrl!; init => _spriteUrl = value; }
}